In [7]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [10]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT facility_name,
       total_revenue
FROM (
    SELECT f.name AS facility_name,
           SUM(CASE
                   WHEN b.memid = 0 THEN f.guestcost * b.slots
                   ELSE f.membercost * b.slots
               END) AS total_revenue
    FROM Bookings AS b
    JOIN Facilities AS f ON b.facid = f.facid
    GROUP BY f.name
) AS subquery
WHERE total_revenue < 1000
ORDER BY total_revenue;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [14]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
       select_all_tasks(conn)

In [15]:
 
 
if __name__ == '__main__':
    main()

2.6.0
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [16]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT m1.firstname AS member_firstname,
           m1.surname AS member_surname,
           m2.firstname AS recommended_by_firstname,
           m2.surname AS recommended_by_surname
        FROM Members AS m1
        LEFT JOIN Members AS m2 ON m1.recommendedby = m2.memid
        ORDER BY member_surname, member_firstname;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
       select_all_tasks(conn)

if __name__ == '__main__':
    main()

2.6.0
('Florence', 'Bader', 'Ponder', 'Stibbons')
('Anne', 'Baker', 'Ponder', 'Stibbons')
('Timothy', 'Baker', 'Jemima', 'Farrell')
('Tim', 'Boothe', 'Tim', 'Rownam')
('Gerald', 'Butters', 'Darren', 'Smith')
('Joan', 'Coplin', 'Timothy', 'Baker')
('Erica', 'Crumpet', 'Tracy', 'Smith')
('Nancy', 'Dare', 'Janice', 'Joplette')
('David', 'Farrell', None, None)
('Jemima', 'Farrell', None, None)
('GUEST', 'GUEST', None, None)
('Matthew', 'Genting', 'Gerald', 'Butters')
('John', 'Hunt', 'Millicent', 'Purview')
('David', 'Jones', 'Janice', 'Joplette')
('Douglas', 'Jones', 'David', 'Jones')
('Janice', 'Joplette', 'Darren', 'Smith')
('Anna', 'Mackenzie', 'Darren', 'Smith')
('Charles', 'Owen', 'Darren', 'Smith')
('David', 'Pinker', 'Jemima', 'Farrell')
('Millicent', 'Purview', 'Tracy', 'Smith')
('Tim', 'Rownam', None, None)
('Henrietta', 'Rumney', 'Matthew', 'Genting')
('Ramnaresh', 'Sarwin', 'Florence', 'Bader')
('Darren', 'Smith', None, None)
('Darren', 'Smith', None, None)
('Jack', 'Smith', 'Darren', 'Smith')
('Tracy', 'Smith', None, None)
('Ponder', 'Stibbons', 'Burton', 'Tracy')
('Burton', 'Tracy', None, None)
('Hyacinth', 'Tupperware', None, None)
('Henry', 'Worthington-Smyth', 'Tracy', 'Smith')

In [17]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT f.name AS facility_name,
           COUNT(*) AS member_usage
        FROM Bookings AS b
        JOIN Facilities AS f ON b.facid = f.facid
        WHERE b.memid != 0
        GROUP BY f.name;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
       select_all_tasks(conn)

if __name__ == '__main__':
    main()

2.6.0
('Badminton Court', 344)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Pool Table', 783)
('Snooker Table', 421)
('Squash Court', 195)
('Table Tennis', 385)
('Tennis Court 1', 308)
('Tennis Court 2', 276)

In [24]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT 
    f.name AS facility_name,
    strftime('%m', b.starttime) AS month,
    COUNT(*) AS member_usage
FROM 
    Bookings AS b
JOIN 
    Facilities AS f ON b.facid = f.facid
WHERE 
    b.memid != 0
GROUP BY 
    f.name, strftime('%m', b.starttime);

        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
       select_all_tasks(conn)

if __name__ == '__main__':
    main()

2.6.0
('Badminton Court', '07', 51)
('Badminton Court', '08', 132)
('Badminton Court', '09', 161)
('Massage Room 1', '07', 77)
('Massage Room 1', '08', 153)
('Massage Room 1', '09', 191)
('Massage Room 2', '07', 4)
('Massage Room 2', '08', 9)
('Massage Room 2', '09', 14)
('Pool Table', '07', 103)
('Pool Table', '08', 272)
('Pool Table', '09', 408)
('Snooker Table', '07', 68)
('Snooker Table', '08', 154)
('Snooker Table', '09', 199)
('Squash Court', '07', 23)
('Squash Court', '08', 85)
('Squash Court', '09', 87)
('Table Tennis', '07', 48)
('Table Tennis', '08', 143)
('Table Tennis', '09', 194)
('Tennis Court 1', '07', 65)
('Tennis Court 1', '08', 111)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '07', 41)
('Tennis Court 2', '08', 109)
('Tennis Court 2', '09', 126)